<!--# if ($tpc_topped && !isset($value['issort'])) { #-->
<div class="tac ordinary">普通主题</div>
<!--# } #-->
<div class="subject">
    <div class="author" style="background-image: url({@Pw::getAvatar($value['created_userid'], 'small')});"><a class="J_user_card_show" data-uid="{$value['created_userid']}" href="{@url:space/index/run?uid=$value['created_userid']}">作者</a></div>
    <div class="title">
        <a href="{@url:bbs/read/run?tid=$value['tid']&fid=$value['fid']}" class="st" style="{$value['highlight_style']}" title="{$value['subject']}">
            <span class="posts_icon"><i class="icon_{$value['icon']}"></i></span>
            {@Pw::substrs($value['subject'],$numofthreadtitle)}
            <hook class='$threadList' name='createHtmlAfterSubject' args="array($value)" />
            <!--# if ($value['inspect']) { 
				$value['inspect'][0] = ($value['inspect'][0]) == 0 ? '主' : $value['inspect'][0];
			#-->
			<span class="red">[{$value['inspect'][1]}阅至{$value['inspect'][0]}楼]</span>
			<!--# } #-->
            <!--# if ($value['ifupload']) { #-->
             <span class="posts_icon">
             <i class="icon_{$uploadIcon[$value['ifupload']]}" title="{$icon[$uploadIcon[$value['ifupload']]]}"></i>
             </span>
             <!--# } #-->
        </a>
    </div>
    <div class="info">
    	<!--# if ($operateThread) { #-->
    	<input class="J_check" name="" type="checkbox" value="{$value['tid']}" />
    	<!--# } #-->
    	楼主：<a class="J_user_card_show" data-uid="{$value['created_userid']}" href="{@url:space/index/run?uid=$value['created_userid']}">{$value['created_username']}</a>
    	<span><!--# echo Pw::time2str($value['created_time'], 'Y-m-d');#--></span>
    	<span>浏览<em>{$value['hits']}</em></span>
    </div>
    <div class="num"><span>回复<em>{$value['replies']}</em></span>
    	<a href="{@url:space/index/run?uid=$value['lastpost_userid']}">{$value['lastpost_username']}</a>
    	最后回复于
    	<span><a href="{@url:bbs/read/run?tid=$value['tid']&fid=$value['fid']&page=e}#a" rel="nofollow"><!--# echo Pw::time2str($value['lastpost_time'], 'm-d H:i');#--></a>
    	</span>
    </div>
</div>
<!--# $tpc_topped = isset($value['issort']); #-->