<!--#if ($site_info_notice = Wekit::C('site','info.notice')) {#-->
<style>.header_wrap{top:29px;}body{padding-top:30px;}</style><div id="notice">{$site_info_notice}</div>
<!--#}#-->
<header class="header_wrap">
	<div id="J_header" class="header cc">
		<div class="logo">
			<a href="{@url:}">
				<!--# if($__css = Wekit::C('site', 'css.logo')) { #-->
				<!--后台logo上传-->
				<img src="{@Pw::getPath($__css)}" alt="{@Wekit::C('site','info.name')}">
				<!--# } else { #-->
				<img src="{@theme:site.images}/logo.png" alt="{@Wekit::C('site','info.name')}">
				<!--# } #-->
			</a>
		</div>
        <a id="J_head_search_a" aria-haspopup="J_head_search_pop"  class="header_btn header_search_btn" role="button" href="#" ><span>搜索</span></a>
		<div id="J_head_search_pop" class="header_search_pop" role="search" style="display: none;">
			<form action="{@url:search/s/run}" method="post">
				<input type="text" id="s" class="input" aria-label="搜索关键词" accesskey="s" placeholder="搜索其实很简单" x-webkit-speech speech name="keyword"/>
				<button type="submit" aria-label="搜索"><span>搜索</span></button>
			</form>
		</div>
        <template source="TPL:common.wap.header_login" load="true" />

	</div>
		
		<nav class="nav_wrap">
			<div class="nav">
				<ul>
	<!--# $nav = Wekit::load('SRV:nav.bo.PwNavBo');
		  $nav->setRouter();
		  $currentId =  '';
		   $main = $child = array();
		  if ($nav->isForum()) $nav->setForum($pwforum->foruminfo['parentid'], $fid, $tid);
		  $main = $nav->getNavFromConfig('main', true);
		  foreach($main as $key=>$value){
			if ($value['current']) {
				$current = 'current';
				$currentId = $key;
			} else {
				$current = '';
			}
			$value['child'] && $child[$key] = $value['child'];
            $value['name'] = str_ireplace(Wekit::C('site','info.url'),Wind::getApp()->getRequest()->getBaseUrl(true),$value['name']);
		  #-->
					<li class="{$current}">{$value['name']|html}</li>
	<!--# } #-->
				</ul>
			</div>
		</nav>
		<hook name="header_nav"/>    
</header>
<!--#
if ($child) {
foreach ($child as $ck => $cv) {
	 if ($currentId == $ck){
#-->
	<div class="nav_weak" id="{$ck}">
<!--# }else{ #-->
	<div class="nav_weak" id="{$ck}" style="display:none">
<!--# } #-->
		<ul class="cc">
			<!--# foreach($cv as $_v){
				$current = $_v['current'] ? 'current' : '';
			#-->
			<li class="{$current}">{$_v['name']|html}</li>
			<!--# } #-->
		</ul>
	</div>
<!--#}} #-->
<div class="tac"><advertisement id='Site.NavBanner' sys='1'/></div>