/*#
===================
@explain: 全局样式表（头尾效果、全局背景、右侧个人信息等）
@copyright: Copyright 2012,phpwind.com
@author: longwenid@gmail.com
$Id: style.css 28793 2013-05-24 03:55:18Z jieyin $
===================
#*/

/*
===================
样式目录/已有控件
>>基础表现
>>顶部导航
>>顶部二级导航
>>全站结构
>>顶部站点公告
>>站点LOGO
>>头部登录
>>头部搜索
>>头部下拉菜单
>>头部用户名专属下拉
>>消息下拉菜单
>>头部发帖按钮
>>快速发帖
>>面包屑（路径）
>>内容区域导航
>>内容区域筛选（用于内容区域导航下）
>>内容区域二级导航
>>右侧登录信息
>>右侧用户信息
>>右侧我的应用
>>右侧拥有勋章列表
>>打卡模块
>>我的版块
>>右侧论坛手风琴版块列表
>>右侧热门话题
>>右侧可能认识的人
===================
*/

html, body, div, span, applet, object, iframe, h1, button,
input, textarea, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, ol, li {
	list-style: none;
}
em, i {
	font-style: normal;
}
img {
	border: 0;
}
textarea {
	outline: none;
}
/*全局链接*/
a{
	color:#1155CC;
	text-decoration:none;
}
/*全局样式*/
body {
	background:#f6f6f6;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}
.pad20 {
	padding: 20px;
}
.pad15 {
	padding: 15px;
}
.clearfix:after {
	display: block;
	content: '';
	clear: both;
	visibility: hidden;
	height: 0;
}
.clearfix {
	*zoom:1;
}
.pointer {
	cursor: pointer}
.inline-block {
	display: inline-block;
	zoom: 1;
	*display:inline;
}
.hide {
	display: none;
}
.mt20 {
	margin-top:20px;
}
.tac {
	text-align: center;
}
.relative {
	position: relative;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.fullscreen {
	margin: 0 0px;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.main {
	background-color: #fff;
}
.disabled {
	border-color: #b1aeae !important;
	background: #e9e9e9 !important;
	box-shadow: none !important;
	color: #999 !important;
	cursor: default;
	text-shadow: 1px 1px 0 #fff !important;
}
/*链接颜色*/
.green {
	color: #228822;
}
.red {
	color: #CC0000;
}
.gray {
	color: #989898;
}
/*
===================
整体背景
===================
*/
.punch_widget/*打卡*/ {
	background: url(../../images/common/style_bg.png);
}
.reply_quick .operate .a_face, .icon_read_like, .posts_icon i {
	background: url(../../images/forum/bg.png) no-repeat;
}
/*
===================
整体图标
===================
*/
.link_wbtn {background:url(../../images/wap/icon_white.png) no-repeat;
	-webkit-background-size:400px 600px;
	background-size:400px 600px;
	height: 36px;
	width: 36px;
	overflow: hidden;
	display: block;
	line-height:36px;
}

.header_post/*头部发帖图标*/, 
.bread_crumb .home/*面包屑home图标*/, 
.content_type a.drop/*版块分类下拉*/, 
.user_info .name a i/*用户名后房子图*/, 
.my_app_list li a span/*右侧我的应用图标*/, 
.my_forum_list .box_title/*我的版块*/, 
.my_forum_list li a/*我的版块列表*/, 
.forum_menu dt/*右侧版块列表*/, 
.forum_menu dd p a/*版块小点*/, 
.icon_face/*表情*/, 
.feed_lists_del/*删除关注信息*/, 
.header_search button span/*搜索放大镜*/, 
.sidebar_login dt i/*右侧登陆图标*/, 
.my_message_content .goin li i/*消息详情箭头*/ 
{
	background: url(../../images/common/style_icon.png) no-repeat;
}
/*header*/
.header_fixed {height: 45px;
	width: 100%;
	z-index: 999;
}
.header_wrap {
	background: #488fce;
	height: 45px;
	overflow: hidden;
	width: 100%;
}
.header_wrap .logo {
	position:absolute;
	left:50%;
	width:40%;
	margin-left:-20%;
	text-align:center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 18px;
	line-height: 45px;
	color: #fff;
}
.header_wrap .logo img {
	height:45px;
	vertical-align:top}
.header_wrap .logo a {
	color:#fff}
.header_wrap .search_btn {
	position: absolute;
	right:5px;
	top:5px;
	background-position:-156px -360px;
}
.link_wbtn span{
	text-indent:60px;
	display:block;
	height:36px;
	width:36px;
}
.header_wrap .login_btn {
	position:absolute;
	top:5px;
	left:5px;
	background-position:-313px -360px}
.header_wrap .goback_btn {
	position: absolute;
	left:5px;
	top:5px;
	background-position:-55px -360px;
}
.header_wrap .add_btn {
	position:absolute;
	top:5px;
	right:5px;
	background-position:-105px -515px}
.header_wrap .share_btn {
	position:absolute;
	top:5px;
	right:5px;
	background-position:-208px -152px}


.header_wrap .left {
	position: absolute;
	top: 8px;
	left: 5px;
}
.header_wrap .right {
	position: absolute;
	top: 8px;
	right: 10px;
}
.header_wrap .thead {
	text-align: center;
	font: 20px/45px microsoft yahei;
	color: #fff;
}
.header_wrap .right .add {
	display: inline-block;
	background: url(../../images/3g/bg_add.png) no-repeat;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-indent: 25px;
	color: #fff;
}
.header_wrap .goback {
	text-decoration: none;
}
.header_wrap .goback span {
	float: left;
	display: inline-block;
	height: 31px;
	width: 16px;
	overflow: hidden;
	position: relative;
}
.header_wrap .goback span:after {
	content: ' ';
	position: absolute;
	top: -21px;
	left: 15px;
	height: 70px;
	width: 70px;
	border: 1px solid #3876A3;
	display: inline-block;
	-webkit-transform: rotate(-45deg);
	background: -webkit-gradient(linear, 30% 0, 0 30%, from(#91C7EE), to(#428ED5));
}
.header_wrap .goback nav {
	width: 38px;
	height: 29px;
	line-height: 29px;
	border: 1px solid #3876A3;
	float: left;
	border-left: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#91C7EE), to(#428ED5));
	color: #fff;
	text-indent: 2px;
	border-radius: 0 4px 4px 0;
}
.header_login {
	padding: 5px 0 0 0;
	line-height: 35px;
}
.header_login a {
	margin-right: 10px;
	font-size: 16px;
}
.header_login a:link, .header_login a:visited {
	color: #fff;
}
.header_login a.quit {
	background: url(../../images/3g/bg_quit.png) no-repeat;
	display: inline-block;
	width: 46px;
	height: 30px;
	text-indent: -9999px;
	margin: 0;
}
.header_message_none {
	display: none;
}


.pop_select_forum{
	z-index:999;
	top:0!important;
	width:100%;
	height:100%;
	-webkit-transition: all 0s ease-out;
}
.pop_select_forum .popbg {background:#fff url(../../images/3g/bg_texture.jpg) 0 0 repeat-x;
	width:100%;
	height:100%;
	opacity:.95;
	position:absolute;
	top:0;
	left:0}
.pop_select_forum .poptext {width:100%;
	padding-top:50px;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}
.pop_select_forum .poptext .myface {
	margin:0 auto;
	width:100px;
	height:110px;
}
.pop_select_forum .poptext .myface img{
	width:90px;
	height:90px;
	border:5px solid rgba(77,142,208,0.8);
	border-radius:80px;
}
.pop_select_forum .poptext .myname {
	margin-bottom:20px;
	color:#4d8ed0;
	font-size:18px;
}
.pop_select_forum .poptext .myitem {
	width:250px;
	margin:0 auto;
}
.pop_select_forum .poptext .myitem ul li {
	position:relative;
	height:49px;
	border-bottom:1px solid #e8e8e8;
	line-height:49px;
	text-align:left;
}
.pop_select_forum .poptext .myitem ul li a {
	color:#333;
	font-size:16px;
	display:block;
	height:49px;
	width:250px;
}
.pop_select_forum .poptext .myitem ul li a:after {border-color: #bbc4d3;
	left: auto;
	top: 50%;
	right: 10px;
	border: 2px solid #ccd0d6;
	border-width: 2px 0 0 2px;
	width: 9px;
	height: 9px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: -3px 0 0 -3px;
	-webkit-transform-origin: 33.3% 33.3%;
	transform-origin: 33.3% 33.3%;
	content: '';
	position: absolute;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.pop_select_forum .poptext .myitem ul li a em {
	display: inline-block;
	vertical-align:top;
	width:45px;
	height:45px;
	background: url(../../images/3g/icon_blue.png) 0 0 no-repeat;
	background-size:400px 600px;
}
.pop_select_forum .poptext .myitem ul li a em.icon_space {
	background-position:-205px -357px;
}
.pop_select_forum .poptext .myitem ul li a em.icon_article {
	background-position:-100px -508px;
}
.pop_select_forum .poptext .myitem ul li a em.icon_profile {
	background-position:-49px -42px;
}
.pop_select_forum .poptext .myitem ul li a em.icon_quit {
	background-position:-257px -458px;
}
.pop_select_forum .pop_close {
	margin:-30px 10px 0 0;
	background: url(../../images/3g/close.png) center center no-repeat;
	background-size:18px 18px;
	width: 33px;
	height: 33px;
	background-position: 0px 0px;
	display:block;
}
.pop_close:hover {background-position: 0px 0px;
}
/*footer*/
.footer_wrap {
	text-align: center;
	font-size: 14px;
	color: #888;
	line-height: 24px;
	padding: 0 0 66px 0;
}
/*列表页布局*/
.core_announce_wrap {
	margin: 10px 0;
	border-bottom: 1px solid #e8e8e8;
	height: 28px;
	overflow: hidden;
}
.core_announce li {
	height: 30px;
	line-height: 15px;
	overflow: hidden;
	background: url(../../images/3g/speaker.png) 0 3px no-repeat;
	padding-left: 18px;
	float: left;
}
.main_wrap {
	padding: 10px;
}
.thread_posts_list li, .thread_posts_list .subject {
	vertical-align: top;
	border-bottom: 1px solid #efefef;
	padding: 10px;
}
.linklist_icon {
	padding:5px 0 10px;
}
.linklist_title {
	font-size:18px;
	overflow:hidden;
	width:100%;
	white-space: nowrap;
	margin-bottom:5px;
	word-wrap: normal;
	text-overflow: ellipsis;
	display:block;
	padding-right:10px;
	color:#666}
.linklist_text {
	color:#888;
	margin-bottom:10px;
	display:none}
.linklist_reply ,.linklist_time, .linklist_author {
	font-size:12px;
	line-height:20px;
}
.linklist_reply i, .linklist_time i, .linklist_author i {background-image: url(../../images/3g/icon_blue.png);
	background-size:240px 360px;
	-webkit-background-size:240px 360px;
	display:inline-block;
	width:15px;
	height:15px;
	vertical-align:top;
	margin:4px 3px 0 0}
.linklist_reply {color: #6998bf;
}
.linklist_time {
	color:#999}
.linklist_reply i {
	background-position:-128px -189px}
.linklist_time i {
	background-position:-66px -95px;
}
.linklist_author {
	margin-right:10px;
	line-height:30px;
	font-size:14px;
}
.linklist_author i {
	background-position:-191px -220px;
}
.linklist_author img {
	width:30px;
	height:30px;
	border-radius:44px;
	vertical-align:top;
	margin-right:10px;
}
.linklist_time em {
	font-size:10px;
	color:#ccc}

/*
===================
内容区域二级导航
===================
*/
.content_type{padding:0;
	background-color: #f5f6f8;
	position:relative;
	padding:6px 5px;
	border-bottom:1px solid #e8e8e8;
}
.content_type li{float:left;
}
.content_type a{color:#333;
	display:inline;
	float:left;
	line-height:22px;
	height:22px;
	white-space:nowrap;
}
.content_type li.current a{font-weight:700;
}
.content_type a.drop{padding-right:12px;
	background-position:right -80px;
}
.content_type li.line{width:1px;
	height:12px;
	background:#ccc;
	overflow:hidden;
	margin:5px 10px;
	padding:0;
}
/*新帖列表页操作*/
.J_post_manage_col input {
	vertical-align: middle;
}
/*版块列表*/
.box_wrap {
	border-top:1px solid #e8e8e8;
}
.bbs_info_box {
	line-height: 20px;
	margin: 10px 0;
	font-size: 12px;
	text-align:center;
	color:#ddd}
.bbs_info_box span {
	margin: 0 5px;
	color:#333}
.forum_group {
}
.forum_group .box_title {
	background:#f7f7f7;
	border-top:1px solid #fff;
	border-bottom:1px solid #e8e8e8;
	height: 34px;
	overflow: hidden;
	position: relative;
	margin: 0;
}
.forum_group .box_title span {
	font: 16px/34px microsoft yahei;
	margin-left: 10px;
	color: #105cb6;
}
.forum_group .list {
	background-color: #fff;
}
.forum_group .list li a .icon {display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 33px;
	-webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5);
	margin: 7px 10px 7px 10px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.forum_group .list li a .icon.old {background: url(../../images/forum/old.gif) center 21px no-repeat;
}
.forum_group .list li a .icon.new{background:url(../../images/forum/new.gif) center 21px no-repeat;
}
.forum_group .list li a .icon.lock{background:url(../../images/forum/lock.gif) center 21px no-repeat;
}
.forum_group .list li {
	border-bottom: 1px solid #f0f1f2;
}
.forum_group .list li a {
	list-style: none;
	display: box;
	display: -webkit-box;
	width: 100%;
	height:74px;
	position:relative;
}
.forum_group .list li a:after {border-color: #bbc4d3;
	left: auto;
	top: 50%;
	right: 10px;
	border: 2px solid #ccd0d6;
	border-width: 2px 0 0 2px;
	width: 9px;
	height: 9px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: -3px 0 0 -3px;
	-webkit-transform-origin: 33.3% 33.3%;
	transform-origin: 33.3% 33.3%;
	content: '';
	position: absolute;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.forum_group .list li .text {margin: 7px 10px 7px 0;
	box-flex: 2;
	-webkit-box-flex: 2;
	overflow: hidden;
}
.forum_group .list li .tit {
	line-height: 20px;
	font-size: 15px;
	color:#333;
	display:block;
}
.forum_group .list li span {
	display:block;
	line-height:20px;
	height:20px;
	overflow:hidden;
	padding-right:25px;
	text-overflow: ellipsis;
}
.forum_group .list li .count {
	color: #999;
	font-size: 11px;
}
.forum_group .list li .desc {
	color: #666;
	font-size: 12px;
	white-space: nowrap;
	word-wrap: normal;
}
.forum_group .list li .num {
	background-color:#fe643a;
	position:absolute;
	top:50%;
	margin-top:-10px;
	z-index:99;
	right:10px;
	color: #fff;
	text-align: center;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	border-radius: 50px;
	display: inline-block;
	padding: 0 7px;
}
.thread_posts_list .info span {
	color: #999;
	margin-left: 10px;
}
/*
===================
帖子列表状态图标
===================
*/
.posts_icon i {
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	vertical-align: middle;
	background-position: -80px -40px;
	margin-top: 4px;
	font: 0/0 Arial;
}
.posts_icon i.icon_headtopic_1 {
	background-position: -80px 0;
}
.posts_icon i.icon_headtopic_2 {
	background-position: -100px 0;
}
.posts_icon i.icon_headtopic_3 {
	background-position: -120px 0;
}
.posts_icon i.icon_digest {
	background-position: -120px -20px;
}
.posts_icon i.icon_topichot {
	background-position: -100px -20px;
}
.posts_icon i.icon_topicnew {
	background-position: -80px -20px;
}
.posts_icon i.icon_topic {
	background-position: -80px -40px;
}
.posts_icon i.icon_img {
	background-position: -100px -40px;
}
.posts_icon i.icon_vote {
	background-position: -120px -40px;
}
.posts_icon i.icon_lock {
	background-position: -80px -60px;
}
.posts_icon i.icon_highlight {
	background-position: -100px -60px;
}
.posts_icon i.icon_like {
	background-position: -120px -60px;
}
.posts_icon i.icon_music {
	background-position: -80px -80px;
}
.posts_icon i.icon_shop {
	background-position: -100px -80px;
}
.posts_icon i.icon_file {
	background-position: -120px -80px;
}
.posts_icon i.icon_reward {
	background-position: -100px -100px;
}
.posts_icon i.icon_debate {
	background-position: -120px -100px;
}
/*
===================
内容区域导航
===================
*/
.content_nav {
	height: 35px;
	border-bottom: 1px solid #e3e3e3;
	display: block;
	margin-bottom: 10px;
}
.content_nav li {
	float: left;
}
.content_nav li a {
	float: left;
	display: block;
	line-height: 24px;
	height: 24px;
	padding: 0 10px;
	border-bottom: 0 none;
	text-decoration: none;
	border-radius: 3px;
}
.content_nav li a:hover {
	background: #f7f7f7;
	text-decoration: none;
}
.content_nav li.current a, .content_nav li.current a:hover {
	color: #fff;
	background: #4791d0;
	font-weight: 700;
}
.content_nav li em {
	margin-left: 3px;
	vertical-align: middle;
}
/*消息设置*/
.content_nav .edit {
	float: right;
	margin: 3px 20px 0 0;
}
/*
===================
表情
===================
*/
.icon_face {
	float: left;
	display: block;
	margin: 2px 5px 0 0;
	width: 22px;
	height: 22px;
	overflow: hidden;
	text-indent: -2000em;
	color: #999;
	background-position: 0 -429px;
	position: relative;
	z-index: 1;
}
.icon_face:hover {
	background-position: 0 -489px;
}
/*
===================
个人中心
===================
*/
.space_user_wrap {
	position: relative;
	min-height: 430px;
}
.bgSpace {
	background: #197FD1 url(../../images/3g/bg_space.jpg) no-repeat 0 45px;
	height: 130px;
	overflow: hidden;
	padding-top: 45px;
}
.space_user_photo {
	position: absolute;
	text-align: center;
	top: 110px;
	width: 100%;
	margin: 0 auto;
}
.space_user_photo .face {
	margin-bottom: 5px;
}
.space_user_photo .face img {
	border-radius: 10px;
	border: 6px solid #fff;
	box-shadow: 0 0 0 4px rgba(0,0,0,.3);
	width: 120px;
	height: 120px;
}
.space_user_photo .name {
	line-height: 24px;
	height: 24px;
	font-size: 16px;
}
.space_user_photo .num {
	height: 55px;
	width: 185px;
	margin: 0 auto;
}
.space_user_photo .num ul {
}
.space_user_photo .num ul li {
	width: 50px;
	height: 45px;
	padding-left: 10px;
	float: left;
	border-right: 1px solid #ddd;
}
.space_user_photo .num span {
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	color: #444;
}
.space_user_photo .num em {
	display: block;
	color: #888;
}
/*勋章*/
.space_user_photo .medal {
	overflow: hidden;
}
.space_user_photo .medal ul {
	margin-right: -6px;
}
.space_user_photo .medal li {
	margin-right: 6px;
	margin-bottom: 6px;
	display: inline-block;
	overflow: hidden;
}
.space_user_photo .medal li a {
	display: block;
	float: left;
}
.space_user_photo .medal li img {
	vertical-align: top;
}
/*发邮件加关注*/
.space_user_photo .operate {
	text-align: center;
}
.space_user_photo .operate a, .space_user_photo .operate span {
	float: left;
	width: 74px;
	line-height: 20px;
	height: 20px;
	border: 1px solid #d0dfea;
	color: #666666;
	border-radius: 2px;
	background: #ffffff;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f3f8f9));
	background-image: -webkit-linear-gradient(#ffffff, #f3f8f9);
	background-image: -moz-linear-gradient(top, #ffffff, #f3f8f9);
	background-image: -ms-linear-gradient(#ffffff, #f3f8f9);
	background-image: -o-linear-gradient(#ffffff, #f3f8f9);
	background-image: linear-gradient(#ffffff, #f3f8f9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f8f9', GradientType=0);
	
_padding-top: 3px;
	margin: 0 10px 5px 0;
}
.space_user_photo .operate a {
	float: none;
	display: inline-block;
}
.space_user_photo .operate a:hover {
	color: #333;
	text-decoration: none;
}
.space_user_photo .operate em {
	width: 13px;
	height: 13px;
	overflow: hidden;
	float: left;
	margin: 3px 2px 0 4px;
	_margin: 0 1px 0 4px;
}
.space_user_photo .operate .follow em {
	background: url(../../images/3g/mini_add.png) center center no-repeat;
}
.space_user_photo .operate .message em {
	background: url(../../images/3g/mini_mail.png) center center no-repeat;
}
.space_user_photo .operate .unfollow, .space_user_photo .operate .unfollow:hover {
	text-align: center;
	border-color: #dddddd;
	background: #f7f7f7 !important;
	filter: none;
	color: #99bbc5;
}
/*
===================
资料-结构
===================
*/
.space_profile {
	padding: 5px 5px 20px;
	margin: 0 5px 5px;
	font-size: 14px;
}
.space_profile h3 {
	padding: 10px 5px;
	font-size: 12px;
	height: 18px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 5px;
}
.space_profile h3 strong {
	font-size: 14px;
}
.space_profile h3 .edit {
	float: right;
	font-size: 12px;
	font-weight: 100;
	color: #1155CC;
}
.space_profile dl {
	padding: 5px;
	color: #666;
}
.space_profile dt {
	float: left;
	width: 90px;
}
.space_profile dd {
	float: left;
}
.space_profile dd .school {
	display: inline-block;
	margin-right: 10px;
}
/*
===================
打卡模块
===================
*/
.punch_widget_wrap {
	padding: 10px;
	margin: 0 auto;
	width: 230px;
	overflow: hidden;
}
.punch_widget {
	width: 240px;
	height: 43px;
	background-position: 0 -180px;
	position: relative;
	text-align: center;
	font-size: 12px;
}
.punch_widget .date {
	display: inline;
	float: left;
	width: 50px;
	margin: 4px 3px;
	color: #fff;
	font-family: Simsun;
}
.punch_widget .date span {
	display: block;
	line-height: 15px;
}
.punch_widget .cont {
	line-height: 43px;
	height: 43px;
	float: left;
	width: 113px;
	font-size: 14px;
	font-weight: 700;
	text-shadow: 0 1px 0 #ffffff;
}
.punch_widget .cont a {
	color: #3e7aa3;
}
.punch_widget_disabled {
	cursor: default;
	background-position: 0 -230px;
}
.punch_widget_disabled .cont a, .punch_widget_disabled .cont a:hover {
	text-decoration: none;
	cursor: default;
	color: #999;
}
.punch_widget .help_ta {
	float: right;
	display: inline;
	margin: 13px 8px;
	color: #3589a7;
}
/*奖励小提示*/
.punch_widget_wrap .tips {
	z-index: 1;
	position: absolute;
	margin-top: 45px;
	line-height: 1.5;
	color: #666;
	padding: 5px 10px;
	border-color: #f4d1a5;
	background-color: #fffbe7;
	width: 160px;
	margin-left: 30px;
}
.punch_widget_wrap .core_arrow_top {
	left: 45px;
}
.punch_widget_wrap .core_arrow_top span {
	border-bottom: 8px #fffbe7 solid;
}
.punch_widget_wrap .core_arrow_top em {
	border-bottom: 8px #f4d1a5 solid;
}
/*
===================
操作提示
===================
*/
.reg_tips {
	background: url(../../images/register/arrow_reg.png) 0 4px no-repeat;
	display: inline-block;
	padding: 5px 10px 5px 20px;
	vertical-align: middle;
	color: #999;
	line-height: 1.5;
	font-size: 12px;
}
/*
===================
密码强度
===================
*/
.pwd_strength_1, .pwd_strength_2, .pwd_strength_3, .pwd_strength_4 {
	width: 84px;
	height: 9px;
	overflow: hidden;
	display: inline-block;
	background: url(../../images/register/pwd_strength.png) no-repeat;
	margin-right: 5px;
}
.pwd_strength_2 {
	background-position: 0 -9px;
}
.pwd_strength_3 {
	background-position: 0 -18px;
}
.pwd_strength_4 {
	background-position: 0 -27px;
}
/*
===================
tab导航
===================
*/
.profile_nav {
	border-bottom: 1px solid #e3e3e3;
	height: 49px;
	margin-bottom: 15PX;
}
.profile_nav li {
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	display: block;
	margin-right: 20px;
}
.profile_nav li a {
	padding: 0 10px;
	display: block;
	float: left;
}
.profile_nav li.current {
	font-weight: 700;
	font-size: 16px;
}
.profile_nav li.current a, .profile_nav li.current a:hover {
	color: #000;
	text-decoration: none;
	background: url(../../images/profile/arrow.png) center bottom no-repeat;
}
/*
===================
内容布局
===================
*/
.profile_ct h3 {
	padding: 5px 10px;
	margin: 10px 0;
	font-size: 16px;
	background: #f7f7f7;
	font-weight: bold;
}
.profile_ct .user_select_input {
	height: 120px;
	margin-bottom: 20px;
	width: 90%;
	overflow-y: auto;
}
.profile_ct dt {
	margin: 10px 0 0 0;
	font-size: 14px;
	font-weight: bold;
}
/*
===================
地区学校资料库
===================
*/
.pop_region_list {
	padding-bottom: 10px;
}
.pop_region_list ul {
	padding-left: 2px;
}
.pop_region_list ul li {
	float: left;
	line-height: 20px;
}
.pop_region_list ul li a, .pop_region_list ul li span {
	display: block;
	padding: 0 5px;
	color: #333;
	white-space: nowrap;
	border-radius: 2px;
}
.pop_region_list ul li a:hover {
	background: #e0e0e0;
	text-decoration: none;
}
.pop_region_list ul li.current a, .pop_region_list ul li.current span {
	background: #266aae;
	color: #ffffff;
}
.pop_region_list .hr {
	background: #e4e4e4;
	height: 1px;
	overflow: hidden;
	font: 0/0 Arial;
	clear: both;
	margin: 10px 0;
}
.pop_region_list .filter {
	padding: 10px 0;
}
.pop_region_list .filter a {
	margin-right: 12px;
}
.pop_region_list .filter a.current {
	color: #333;
	font-weight: 700;
}
.pop_region_list .list {
	border: 1px solid #ccc;
	height: 108px;
	overflow-x: hidden;
	overflow-y: auto;
}
.pop_region_list .list ul {
	padding: 5px;
}
.pop_region_list .list li {
	float: left;
	width: 33%;
	cursor: pointer;
	text-indent: 5px;
	border-radius: 2px;
}
.pop_region_list .list li:hover {
	background: #f7f7f7;
}
.pop_region_list .list li.current {
	background: #266aae;
	color: #ffffff;
}
/*
===================
邮箱下拉
===================
*/
.mail_down {
	position: absolute;
	width: 240px;
}
.mail_down ul {
	border: 1px solid #cccccc;
	padding: 1px;
	background: #fff;
}
.mail_down li {
	line-height: 21px;
	height: 21px;
	overflow: hidden;
}
.mail_down li a {
	display: block;
	color: #999;
	text-decoration: none;
	padding: 0 10px;
}
.mail_down li a:hover, .mail_down li.current a {
	background-color: #e8f4fc;
	color: #333;
}
/*
===================
阅读页楼层顶部操作
===================
*/
.floor_top_tips {
	padding: 0 0 10px;
	margin-bottom: 5px;
	color: #666;
}
/*楼层*/
.floor_top_tips .lou {
	float: right;
	font-size: 24px;
	color: #bbb;
	line-height: 1.3;
	cursor: pointer;
}
.floor_top_tips .fr a {
	color: #666666;
}
.floor_bottom_tips {
	padding: 10px 0;
	color: #666;
	line-height: 20px;
	border-top: 1px dashed #e1e1e1;
	margin-top:15px;
}
.floor_bottom_tips a {
	color: #666;
}
.floor_bottom_tips a.a_reply:before ,.floor_bottom_tips a.a_like:before{
	background:url(../../images/3g/icon_blue.png) no-repeat;
	background-size:300px 450px;
	background-position: -120px -312px;
	vertical-align:top;
	content: '\20';
	display: inline-block;
	width:20px;
	height:18px;
	margin-right:5px;
}
.floor_bottom_tips a.a_like:before {
	background-position: -122px -389px;
}
.floor_bottom_tips a.a_reply {
	padding-left:0px;
	margin-right: 20px;
}
.floor_bottom_tips a.a_like {
	padding-left: 0px;
}
/*
===================
阅读页结构
===================
*/
.floor {
	padding:15px;
	background: #fff;
	border-bottom:1px solid #e1e1e1}
.floors {
	background:#f6f6f6}
.floors .floor_title {
	border:0;
	margin-bottom:0;
	padding:0;
}
.floors .floor_bottom_tips {
	border:0;
	padding-bottom:0;
}
.floor .box_wrap {
	border: 0 none;
	box-shadow: 0 0 0;
	background: none;
	border-radius: 0;
	margin: 0;
}
#read_0 {
	margin-top: 0;
}
.floor .floor_left {
	vertical-align: top;
	width: 160px;
	background: #fbfbfb;
	border-right: 1px solid #e9e9e9;
}
.floor .floor_right {
	vertical-align: top;
	padding: 10px;
}
.floor_bottom {
	vertical-align: bottom;
	padding: 0 20px;
}
/*
===================
楼主快速回复
===================
*/
.floor_reply {
	margin: 10px;
}
.reply_toolbar_wrap {
	background:#fff;
	border: 1px solid #e4e4e4;
	margin-bottom: 10px;
}
.reply_toolbar {
	background: #f7f7f7;
	border-bottom: 1px solid #e4e4e4;
	padding: 5px 10px;
	line-height: 20px;
	height: 20px;
}
.floor_reply textarea {
	height: 90px;
	border: 0 none;
	box-shadow: 0 0 0;
	width:100%;
}
.floor_reply textarea:focus {
	outline: 0 none;
}
.floor_reply .btn {
	padding-left: 15px;
	padding-right: 15px;
}
/*
===================
快速回复
===================
*/
.reply_quick {
	width: 240px;
	margin: 30px 0 10px;
}
.reply_quick dt {
	float: left;
}
.reply_quick dd {
	float: right;
	margin-bottom: 5px;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	position: relative;
}
.reply_quick textarea {
	border: 1px solid;
	border-color: #e5e3e4 #dcdcdc #dcdcdc #e5e3e4;
	width: 190px;
	box-shadow: 0 0 0;
	float: left;
}
.reply_quick textarea:focus {
	outline: 0 none;
	border-color: #dcdcdc;
}
/*左角*/
.reply_quick dd .arrow {
	position: absolute;
	left: 0;
	top: 15px;
	margin-left: -14px;
}
.reply_quick dd .arrow span, .reply_quick dd .arrow em {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	border-bottom: 8px transparent dashed;
	border-top: 8px transparent dashed;
	border-left: 8px transparent dashed;
	overflow: hidden;
}
.reply_quick dd .arrow span {
	border-right: 8px #fff solid;
}
.reply_quick dd .arrow em {
	border-right: 8px #dcdcdc solid;
	margin-left: -2px;
	margin-top: -1px;
}
/*按钮*/
.reply_quick .btn {
	padding-right: 15px;
	padding-left: 15px;
	float: right;
}
.reply_quick .ft {
	padding-left: 48px;
}
.reply_quick .ft a {
	float: right;
	color: #999;
	font-family: Simsun;
	margin-right: 20px;
	margin-top: 3px;
}
/*发布图片表情*/
.reply_quick .operate .a_face {
	float: left;
	margin-right: 20px;
	padding-left: 22px;
	line-height: 20px;
	color: #999;
	background-position: -150px -147px;
}
.reply_quick .operate a:hover {
	text-decoration: none;
	color: #666;
}
.reply_quick .operate .a_face:hover {
	background-position: -150px -177px;
}
/*未登录提示*/
.reply_login_tips {
	border: 1px solid #e4e4e4;
	background: #fbfbfb;
	padding: 50px 0;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #666;
}
/*
===================
快速回复列表
===================
*/
.reply_list {
	border: 1px solid #f4f4f4;
	background: #fafafa;
	padding: 0 5px;
	margin-bottom: 20px;
	position: relative;
	width: 250px;
}
.reply_list .core_arrow_top {
	left: 0;
	padding-left: 15px;
}
.reply_list .core_arrow_top em {
	border-bottom: 8px #f4f4f4 solid;
}
.reply_list .core_arrow_top span {
	border-bottom: 8px #fafafa solid;
}
.reply_list .reply_quick {
	margin: 10px auto;
}
.reply_list ul {
	padding-left: 5px;
}
.reply_list li {
	border-top: 1px dotted #d7d7d7;
	padding: 10px 0 10px;
}
.reply_list li .face {
	float: left;
	margin-right: 10px;
}
.reply_list li .reply_content {
	overflow: hidden;
	vertical-align: top;
}
.reply_list li .reply_content .time {
	color: #999;
	margin-right: 10px;
}
.reply_list li .reply_content .operate {
	float: right;
}
.reply_list li .reply_content .operate a {
	margin-left: 5px;
}
.reply_list li .reply_content img {
	vertical-align: top;
}
/*
===================
阅读页标题
===================
*/
/*面包屑*/
.bread_crumb {
	line-height: 30px;
}
.floor_title {
	padding: 0px 0 12px;
	border-bottom: 1px dashed #e1e1e1;
	margin-bottom: 12px;
	position: relative;
}
.floor_title h1 {
	font-size: 16px;
	display: inline;
	line-height: 24px;
}
.floor_title .lou {
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 14px;
	color: #f90;
}
/*帖子荣誉*/
.floor_honor {
	padding: 0 0 0 10px;
	display: inline-block;
	vertical-align: top;
	padding-top: 2px;
}
/*帖子头像*/
.floor_title .face {
	float: left;
}
.floor_title .face img {
	height:35px;
	width:35px;
	border-radius:29px;
}
.floor_title .info {
	float: left;
	margin-left: 15px;
	height:35px;
	line-height:35px;
	color:#f60;
	font-size:16px;
}
.floor_title .info a {
	margin-left:15px;
	font-size:14px;
}
/*
===================
阅读页数据
>>回复/浏览
===================
*/
.post_num {
	margin-top: 5px;
	color: #999;
}
.post_num .replies {
	padding-left: 10px;
}
.post_num .hits {
	border-right: 1px solid #ccc;
	padding: 0 10px 0 0;
}
/*手机版不显示图片*/
.editor_content .noimg {
	background: #FFF9E3;
	padding: 5px 10px;
	border: 1px dashed #F90;
}
.editor_content img {
	max-width:100%;
}
.J_attach_img_wrap {
	display:block;
	margin-bottom:15px;
	text-align:center}
.J_attach_img_wrap img{
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
	border-radius:3px;
}
/*隐藏返回帖子*/
.blockquote {
	display: none;
}
/*
===================
阅读页喜欢操作
===================
*/
.icon_read_like {
	width: 116px;
	height: 25px;
	background-position: 0 -300px;
	background-repeat: no-repeat;
	display: block;
	margin: 30px auto 20px;
	color: #ff6600;
	line-height: 25px;
	cursor: pointer;
	overflow: hidden;
}
.icon_read_like span {
	float: left;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	font: 0/0 Arial;
	padding: 0;
	margin: 0;
}
.icon_read_like em {
	float: right;
	width: 47px;
	height: 25px;
	color: #ff6600;
	text-align: center;
	font-weight: 700;
	text-indent: 0;
	overflow: hidden;
	display: block;
}
.icon_read_like:hover {
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
	text-decoration: none;
}
/*
===================
弹窗-管理操作选项
===================
*/
.pop_operat_list {
	overflow: hidden;
}
.pop_operat_list ul {
	margin-left: -10px;
	_padding-bottom: 10px;
}
.pop_operat_list li {
	float: left;
	margin: 0 0 10px 10px;
}
.pop_operat_list a {
	display: inline;
	border: 1px solid #ccc;
	background: #fff;
	padding: 3px 10px;
	float: left;
	color: #333;
	white-space: nowrap;
}
.pop_operat_list a:hover {
	text-decoration: none;
	border-color: #1377a9;
}
/*
===================
最新喜欢会员列表
===================
*/
.read_like_list {
	padding: 0 0 10px;
}
.read_like_list h4 {
	margin-bottom: 5px;
	font-size: 12px;
}
.read_like_list img {
	vertical-align: top;
	display: block;
}
.read_like_list a {
	margin: 0 5px 5px 0;
	width: 45px;
	display: block;
	float: left;
	color: #666;
}
.read_like_list span {
	display: block;
	text-align: center;
	height: 18px;
	overflow: hidden;
}
/*
===================
楼层喜欢的会员弹窗
===================
*/
.floot_like_pop {
	width: 260px;
}
.floot_like_pop img {
	vertical-align: middle;
	margin-right: 5px;
}
.floot_like_pop li {
	float: left;
	width: 49.9%;
	padding: 0 0 10px;
}
/*
===================
帖子管理
===================
*/
.read_management {
	background: #ffffee;
	border: 1px solid #e4e4e4;
	margin: 0 0 10px;
	padding: 10px 15px 10px 2px;
	color: #666;
}
.read_management a {
	margin: 0 5px;
	color: #666;
	white-space: nowrap;
}
.read_management i {
	color: #ccc;
	font-style: normal;
	margin: 0 5px;
}
/*
===================
发帖表单
===================
*/
.post_page li {
	margin-bottom:10px;
}
.post_inp {
	border: 1px solid #ccc;
	width: 100%;
	height: 33px;
	line-height: 33px;
	box-shadow: 2px 2px 2px #f0f0f0 inset;
	text-indent:10px}
.post_area {
	width: 100%;
	height: 150px;
}
/*
===================
教育经历
===================
*/
.profile_educat {
	min-height: 200px;
}
.profile_educat ul {
	padding-bottom: 20px;
}
.profile_educat li {
	padding: 10px;
	border-bottom: 1px dashed #dcdcdc;
	zoom: 1;
}
.profile_educat li:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.profile_educat li.hd .btn_submit {
	margin-top: -2px;
}
.profile_educat li .btn {
	position: relative;
	font-family: Simsun;
}
.profile_educat .edu {
	width: 160px;
	font-size: 14px;
	float: left;
}
.profile_educat .unit {
	width: 240px;
	font-size: 14px;
	float: left;
}
.profile_educat .time {
	display: inline-block;
	font-size: 14px;
}
/*
===================
工作经历
===================
*/
.profile_work {
	min-height: 200px;
}
.profile_work ul {
	padding-bottom: 20px;
}
.profile_work li {
	padding: 10px;
	border-bottom: 1px dashed #dcdcdc;
	zoom: 1;
}
.profile_work li:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.profile_work li.hd .btn_submit {
	margin-top: -2px;
}
.profile_work li .btn {
	position: relative;
	font-family: Simsun;
}
.profile_work .unit {
	float: left;
	display: inline-block;
	width: 300px;
	font-size: 14px;
}
.profile_work .time {
	display: inline-block;
	font-size: 14px;
}
/*
===================
手机版底部导航
前缀单词mobile
==================================
*/
.mob_foot_nav {
	height:40px;
	display: -webkit-box;
	
display: box;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.mob_foot_nav a {display: block;
	-webkit-box-flex: 1;
	box-flex: 1;
	background:rgba(240,240,240,0.9);
	height: 40px;
	color: #fff;
	text-align: center;
	padding-top: 2px;
	font-size: 12px;
}
.mob_foot_nav a.on {color: #55AAFF;
}
.mob_foot_nav a i {
	background: url(../../images/3g/icon_blue.png) no-repeat;
	-webkit-background-size:500px 750px;
	background-size:500px 750px;
	height: 36px;
	width: 36px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}
.mob_foot_nav a.on i{
	background: url(../../images/3g/icon_orange.png) no-repeat;
	-webkit-background-size:500px 750px;
	background-size:500px 750px;
}
.mob_foot_nav a i.home {
	background-position:-330px -64px;
}
.mob_foot_nav a.on i.home {
	background-position:-330px -64px;
}
.mob_foot_nav a i.forum {
	background-position: -200px -518px;
}
.mob_foot_nav a.on i.forum {
	background-position: -200px -518px;
}
.mob_foot_nav a i.msg {
	background-position: -70px -129px;
}
.mob_foot_nav a.on i.msg {
	background-position: -70px -129px;
}
.mob_foot_nav a i.info {
	background-position: -70px -64px;
}
.mob_foot_nav a.on i.info {
	background-position: -70px -64px;
}
.mob_foot_nav a.mode {
	position: relative;
}
.mob_foot_nav a.mode .core_num {
	right:50%;
	margin-right:-27px;
	top:1px;
	background:#fe643a;
	border-radius:20px;
	padding: 1px 6px;
}
/*
===================
新增帖子搜索功能
===================
*/
.link_search {
	background:#488fce;
	padding:0 5px 5px 5px;
}
.wap_search {
	border: 1px solid #3d83c1;
	height: 30px;
	background: #fff;
	overflow:hidden;
	position:relative;
	-moz-border-radius:5px;
	border-radius:5px;
}
.wap_search .wap_inp{
	line-height:20px;
	height:20px;
	vertical-align:middle;
	width:100%;
	padding:5px 50px 5px 0;
	text-indent:5px;
	outline:none;
	float:left;
}
.wap_search .wap_btn{float:right;
	margin-top:-30px;
	width: 50px;
	height: 30px;
}
.d_none{
	display:none!important}
.d_block{
	display:block!important}